# ResNet Test Overall Results
Overall Metrics:
  Accuracy: 0.6420
  Precision: 0.6420
  Recall: 0.6420
  F1-Score: 0.6374

Per-Class Metrics:
  angry:
    Precision: 0.5570
    Recall: 0.4731
    F1-Score: 0.5116
  happy:
    Precision: 0.8596
    Recall: 0.7861
    F1-Score: 0.8212
  relax:
    Precision: 0.6612
    Recall: 0.8710
    F1-Score: 0.7517
  frown:
    Precision: 0.5963
    Recall: 0.5134
    F1-Score: 0.5517
  alert:
    Precision: 0.5354
    Recall: 0.5668
    F1-Score: 0.5506

# AlexNet Test Overall Results
Overall Metrics:
  Accuracy: 0.4716
  Precision: 0.5180
  Recall: 0.4716
  F1-Score: 0.4554

Per-Class Metrics:
  angry:
    Precision: 0.4010
    Recall: 0.4140
    F1-Score: 0.4074
  happy:
    Precision: 0.8068
    Recall: 0.3797
    F1-Score: 0.5164
  relax:
    Precision: 0.4252
    Recall: 0.8710
    F1-Score: 0.5714
  frown:
    Precision: 0.4780
    Recall: 0.4652
    F1-Score: 0.4715
  alert:
    Precision: 0.4778
    Recall: 0.2299
    F1-Score: 0.3105

# GoogleNet Test Overall Results
Overall Metrics:
  Accuracy: 0.3633
  Precision: 0.4395
  Recall: 0.3633
  F1-Score: 0.3175

Per-Class Metrics:
  angry:
    Precision: 0.4083
    Recall: 0.2634
    F1-Score: 0.3203
  happy:
    Precision: 0.7692
    Recall: 0.1070
    F1-Score: 0.1878
  relax:
    Precision: 0.3487
    Recall: 0.9355
    F1-Score: 0.5080
  frown:
    Precision: 0.3278
    Recall: 0.3155
    F1-Score: 0.3215
  alert:
    Precision: 0.3426
    Recall: 0.1979
    F1-Score: 0.2508